<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加银行卡</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body id="top">

<div id="app" class="view  hm-gradient" style="height: 100%">

    <header>
        <!-- Navbar-->
        <topnav></topnav>

        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">


                <!--   主体内容    -->

                <!--                添加银行卡模块-->
                <div v-if="!readyToPay" class="container">
                    <div class="col-md-10 col-lg-5" style="margin-left: 330px">

                        <div class="text-center form-title">绑 定 银 行 卡</div>
                        <form id="registry" class="">
                            <div class="font-bold form-div">
                                <div>银行卡号：</div>
                                <div class="font-bold form-div col-lg-8 btn-group">
                                    <select class="form-control form-selection-bank col-lg-5"
                                            :disabled="disableBankName"
                                            v-model="otherBankCard.bankIdentification">
                                        <option disabled value="" class="form-selection-option">选择银行</option>
                                        <template v-for="bank in subordinateBank">
                                            <option :value=bank.bankIdentification
                                                    class="form-selection-option">
                                                {{bank.bankName}}
                                            </option>
                                        </template>
                                    </select>
                                    <div style="margin-left: 20px">
                                        <input v-model="otherBankCard.otherBankCardNumber" class="col-md-10"
                                               style="width: 260px" type="text" @blur="selectBankName">
                                        <h5 v-if="hasHint">{{hint}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="font-bold form-div">
                                预留手机号码：
                                <div>
                                    <span class="input-group-addon" style="margin: 2px">+86</span>
                                    {{user.userPhone}}
                                </div>
                            </div>
                            <!--查到银行预留手机号码，自动填上-->
                            <div class="font-bold form-auth-code">
                                验证码：
                                <div>
                                    <input class="col-md-10 col-lg-7" type="text" v-model="authCode">
                                    <button class="btn btn-sm btn-default auth-code" style="font-size: 12px"
                                            @click.prevent="getAuthCode" >获取验证码
                                    </button>
                                    <p v-if="noBankCard">请先输入正确的银行卡号</p>
                                </div>
                            </div>
                            <div class="text-md-center">
                                <button class="btn btn-blue btn-sm" style="font-size: medium" type="submit"
                                        @click.prevent="bindOtherBankCard">确定
                                </button>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 填写密码-->
                <div v-if="readyToPay" class="col-md-10 col-lg-3" style="margin: auto">
                    <div class="text-center form-title">支 付 密 码</div>
                    <div style="margin-bottom: 40px">
                        <input type="password" class="col-lg-2" maxlength="6"
                               style="text-align:center;margin-left: 36%" v-model="otherBankCard.payPassword"
                               onKeypress="return (/[\d\.]/.test(String.fromCharCode(event.keyCode)))"/>
                    </div>
                    <button class="btn btn-danger btn-sm" @click.prevent="cancelToPay"
                            style="margin-left: 30px;margin-top: 20px;font-size: medium">
                        取消
                    </button>
                    <button class="btn btn-success btn-sm" @click.prevent="bindOtherBankCard"
                            style="margin-left: 60px;margin-top: 20px;font-size: medium">
                        确认
                    </button>
                </div>


                <!--   主体内容结束    -->
            </div>
        </div>
    </header>


    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            // 银行名称与标识符
            subordinateBank: [{
                bankIdentification: "BOC",
                bankName: "中国银行",
            }, {
                bankIdentification: "BOWR",
                bankName: "五仁银行",
            }],
            // 用户输入的银行卡号
            otherBankCard: {
                otherBankCardNumber: "",
                otherBankName: "",
                bankIdentification: "",
                payPassword: "",
            },
            // 用户信息
            user: {
                userId: 1,
                userName: "卢*",
                userPhone: "123****7647",
            },
            // 用户输入的验证码
            authCode: "",
            // 用户错误操作提醒
            hasHint: false,
            hint: "",
            // 支付密码与表单的切换
            readyToPay: false,
            // 已经自动选择银行，不可更改
            disableBankName: false,
            // 还未输入正确的银行卡号
            noBankCard: false,
            //登录标识
            token:""
        },
        methods: {
            // 取消按钮，返回表单，清空密码字段
            cancelToPay: function () {
                var _this = this;
                _this.readyToPay = false;
                _this.otherBankCard.payPassword = "";
            },
            // 确认按钮，校验数据填写，并切换到密码支付
            confirmToPay: function () {
                var _this = this;
                if (_this.authCode == "") {
                    alert("请输入验证码");
                    return;
                }
                if (_this.otherBankCard.otherBankCardNumber == "") {
                    alert("输入银行卡号")
                    return;
                }
                if (_this.otherBankCard.bankIdentification == "") {
                    alert("请点击页面空白部分自动选择银行")
                    return;
                }
                // TODO 校验验证码是否正确
                _this.readyToPay = true;
            },
            // 获取验证码按钮
            getAuthCode: function () {
                var _this = this;
                if (_this.disableBankName == false) {
                    _this.noBankCard = true;
                } else {
                    _this.noBankCard = false;
                }
                // TODO 获取验证码
            },
            // 添加银行卡请求
            bindOtherBankCard: function () {
                var _this = this;
                if (_this.otherBankCard.bankIdentification == "") {
                    this.selectBankName();
                }
                addOtherBankCard({
                    "authCode": _this.authCode,
                    "userId": _this.user.userId,
                    "bankCardNumber": _this.otherBankCard.otherBankCardNumber,
                    "subordinateBanksIdentification": _this.otherBankCard.bankIdentification,
                    "payPassword": _this.otherBankCard.payPassword,
                }).then(function (response) {
                    alert(response.data.data.errmsg);
                    if (response.data.data.errno == 0) {
                        window.location.href = "bank_card_manage.html";
                    }
                })
            },
            // 异步显示银行卡所属银行
            selectBankName: function () {
                var _this = this;
                findBankCardIdentification(_this.otherBankCard.otherBankCardNumber).then(function (response) {
                    if (response.data.data.errno == 1) {
                        _this.hasHint = true;
                        _this.hint = response.data.data.errmsg;
                        _this.disableBankName = false;

                    } else {
                        _this.hasHint = false;
                        _this.otherBankCard.bankIdentification = response.data.data.data;
                        _this.disableBankName = true;
                        _this.noBankCard = false;
                    }
                })
            }
        },
        created() {
			//判断用户是否登录,没有登录则跳转到登录页面
			// var token = localStorage.getItem("token");
			// if (token == null) {
			// 	location.href = "login.html";
			// }
        }
    })
</script>
