<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>升级银行卡</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!--可无视-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css"/><!--CSS RESET-->
    <link rel="stylesheet" type="text/css" href="css/demo.css"><!--演示页面样式，使用时可以不引用-->

    <!--必要样式-->
    <link rel="stylesheet" href="css/naranja.min.css">
</head>

<body id="top">

<div id="app" class="view  hm-gradient" style="height: 100%">

    <header>
        <!-- Navbar-->
        <topnav></topnav>

        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">


                <!--   主体内容    -->

                <div class="container">
                    <div class="col-md-10 col-lg-4" style="margin-left: 330px">

                        <div class="text-center form-title">升 级 银 行 卡</div>
                        <form id="registry" class="">
                            <div class="font-bold form-div">
                                银行卡号：{{bankCard.bankCardNumber}}
                            </div>
                            <div class="font-bold form-div">
                                升级为: <span disabled="disabled">{{bankCard.bankCardType}}</span>
                            </div>
                            <div class="font-bold form-div">
                                每日交易上限为：<span v-if="bankCard.bankCardType=='钻石卡'">￥1,000,000</span>
                                <span v-if="bankCard.bankCardType=='黑卡'">￥10,000,000</span>
                            </div>
                            <div class="font-bold form-div">
                                升级原因：
                                <input class="col-md-10 col-lg-12" type="text" v-model="bankCard.transcationMsg">
                            </div>
                            <div class="font-bold form-div">
                                预留手机号码：
                                <div>
                                    <span class="input-group-addon" style="margin: 2px">+86</span>
                                    {{bankCard.bankCardPhone}}
                                </div>
                            </div>
                            <!--银行预留手机号码，自动填上-->
                            <div class="font-bold form-auth-code">
                                验证码：
                                <div>
                                    <input class="col-md-10 col-lg-6" type="text" v-model="bankCard.code">
                                    <input type="button" @click="sendUpgradeCard()" v-model="codeMsg"
                                           :disabled='disabled' class="btn btn-sm btn-default auth-code"
                                           style="font-size: 12px"/>
                                </div>
                            </div>
                            <div class="text-md-center">
                                <button class="btn btn-blue btn-sm" style="font-size: medium" type="submit"
                                        @click.prevent="upgradeCard">确定
                                </button>
                                </button>
                            </div>
                        </form>
                    </div>


                    <!--   主体内容结束    -->
                </div>
            </div>
        </div>
    </header>
</div>

<footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
    <div class="footer-copyright">
        <div class="container-fluid">
            <p>&copy; Five Bank</p>
        </div>
    </div>
</footer>

</body>

</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script type="text/javascript" src="js/naranja.js"></script>
<script type="text/javascript" src="components/send.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            //银行卡
            bankCard: {
                bankCardId: "",
                bankCardNumber: "",
                bankCardPassword: "",
                userId: "",
                bankCardBalance: "",
                bankCardType: "",
                bankCardStatus: "",
                bankCardPhone: "",
                bankCardTransferLimit: "",
                gmtCreate: "",
                gmtModified: "",
                bank: "",
                //验证码
                code: "",
                //备注
                transcationMsg: ""
            },
            // 倒计时秒数
            time: 60,
            // 按钮上的文字
            codeMsg: '获取验证码',
            // 定时器
            timer: null,
            disabled: false,
            //用户
            user: {},
        },
        methods: {
            //获取银行卡信息通过id
            getBankCardBybankCardId: function () {
                //获取银行卡id
                this.bankCard.bankCardId = sessionStorage.getItem("upgradeBankCard")
                //调用方法
                getBankCardBybankCardId(this.bankCard.bankCardId).then(res => {
                    if (res.data.data.errno == 0) {
                        //赋值
                        this.bankCard = res.data.data.data;
                        if (this.bankCard.bankCardType == "普通卡") {
                            this.bankCard.bankCardType = "钻石卡"
                        } else if (this.bankCard.bankCardType == "钻石卡") {
                            this.bankCard.bankCardType = "黑卡"
                        }
                    }
                })
            },
            //申请升级卡
            upgradeCard: function () {
                if (this.bankCard.transcationMsg == "" || this.bankCard.transcationMsg ==null) {
                    alert("请输入升级银行卡原因")
                    return
                }
                if (this.bankCard.code == "" || this.bankCard.code ==null) {
                    alert("请输入验证码")
                    return
                }
                //获取当前用户
                this.user = JSON.parse(sessionStorage.getItem("user"));
                //赋值
                this.bankCard.userId = this.user.userId;
                this.bankCard.bankCardId = sessionStorage.getItem("upgradeBankCard")
                console.log(this.bankCard)
                UpgradeCard(this.bankCard).then(res => {
                    if (res.data.data.errno == 0) {
                        alert("银行卡升级申请审核中，请耐心等待")
                        sessionStorage.removeItem("upgradeBankCard")
                        location.href = "bank_card_manage.html"
                    } else {
                        alert(res.data.data.errmsg)
                    }
                })

            },

            //短信验证码
            sendUpgradeCard: function () {
                sendUpgradeCard(this.bankCard.bankCardId).then(res => {
                    var d = res.data.data;
                    if (d.errno == 0) {
                        alert("发送成功,请注意查收")
                        //成功
                        //按钮不可以
                        this.disabled = true
                        //倒计时
                        //验证码60秒倒计时
                        if (!this.timer) {
                            this.timer = setInterval(() => {
                                if (this.time > 0 && this.time <= 60) {
                                    this.time--;
                                    if (this.time !== 1) {
                                        this.codeMsg = "重新发送(" + this.time + ")秒";
                                    } else {
                                        clearInterval(this.timer);
                                        //重置按钮内容
                                        this.codeMsg = "获取验证码";
                                        //重置倒计时
                                        this.time = 60;
                                        //重置定时器
                                        this.timer = null;
                                        //恢复按钮状态
                                        this.disabled = false;
                                    }
                                }
                            }, 1000)
                        }
                    } else {
                        //失败
                        alert(d.errmsg)
                    }
                })

            },
            initSessionStorage: function () {
                var user = JSON.parse(sessionStorage.getItem("user"));
                this.user = user;
                console.log(this.user)
            }

        },
        created() {
            //判断用户是否登录,没有登录则跳转到登录页面
            var token = sessionStorage.getItem("token");
            if (token == null) {
                location.href = "login.html";
            }
            this.initSessionStorage();
            this.getBankCardBybankCardId()
        },
    })
</script>
