<!DOCTYPE html>
<html class="full-height" lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>修改密码</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/mdb.min.css" rel="stylesheet">
		<link href="styles/main.css" rel="stylesheet">
		<style>
			.msg{
				color: red;
				font-size: 10px;
			}
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color: #c6c4cd;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color: #c6c4cd;
			    opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:  #c6c4cd;
			    opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color:  #c6c4cd;
			}
		</style>
	</head>
	<body>
		<div id="app" style="height: 100%">
			<header>
				<!-- Navbar-->
				<nav v-if="!hasLogin" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
					<div class="container"><a class="navbar-brand" href="login.html"><strong>五仁银行</strong></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
						 aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="registry.html">注册</a></li>
								<li class="nav-item"><a class="nav-link" href="login.html">登录</a></li>
							</ul>
						</div>
					</div>
				</nav>
				<topnav v-else></topnav>
				
				<!-- 背景图-->
				<div class="view hm-gradient" id="intro">
					<!-- 渐变色-->
					<div class="full-bg-img d-flex align-items-center">
						<!--   主体内容    -->
						<div class="container">
							<div class="col-md-10 col-lg-5" style="margin-left: 330px">
								<!-- 修 改 密 码-->
								<div>
									<div class="text-center form-title">修 改 密 码</div>
									<div id="change_password_old" v-if="ishidden">
										<div class="font-bold form-div">
											手机号：<input class="col-md-10 col-lg-11" type="text" v-model="user.userPhone" />
										</div>
										<div class="font-bold form-div">
											验证码：
											<div>
												<input class="col-md-10 col-lg-6" type="text" v-model="user.code" />
												<input type="button" @click="updatePasswordSms()" v-model="codeMsg" :disabled='disabled' class="btn btn-sm btn-default auth-code" style="font-size: 12px" />
											</div>
										</div>
										<div class="text-md-center">
											<button @click="updatePasswordVerify()" class="btn btn-blue btn-sm" style="font-size: medium">下一步</button>
										</div>
									</div>

									<div id="change_password_new" v-else>
										<div class="font-bold form-div">
											新密码：<input class="col-md-10 col-lg-11" type="password" v-model="user.userPassword" :placeholder="userPasswordMsg"/>
										</div>
										<div class="font-bold form-div" id="userPasswordMsgId" hidden="hidden">
											<span class="msg">{{userPasswordMsg}}</span>
										</div>
										<div class="font-bold form-div">
											确认新密码：<input class="col-md-10 col-lg-11" type="password" v-model="user.passwordConfig" :placeholder="passwordConfigMsg"/>
										</div>
										<div class="font-bold form-div" id="passwordConfigMsgId" hidden="hidden">
											<span class="msg">{{passwordConfigMsg}}</span>
										</div>
										<div class="text-md-center">
											<button @click="updateBankUserPassword()" class="btn btn-blue btn-sm" style="font-size: medium">修改</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0" style="z-index: 99;">
				<div class="footer-copyright">
					<div class="container-fluid">
						<p>&copy; Five Bank</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script>
	new WOW().init();
</script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
			user: {
				userPhone: "",
				userPassword:"",
				passwordConfig:"",
				code: ""
			},
			test: 1,
			ishidden: true,
			userPasswordMsg:"密码格式为6-20位的数字和英文",
			passwordConfigMsg:"请再次确认密码",
			hasLogin: false,
			disabled: false,
			// 倒计时秒数
			time: 60,
			// 按钮上的文字
			codeMsg: '获取验证码',
			// 定时器
			timer: null
		},
		methods: {
			//根据手机号获取验证码
			updatePasswordSms: function() {
				var _this = this;
				console.log(_this.user)
				if(_this.user.userPhone == ""){
					alert("请先输入手机号")
					return
				}
				var patrn=/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
				if(!patrn.exec(_this.user.userPhone)){
					alert("请输入正确的手机号码")
					return
				}
				updatePasswordSms(_this.user).then(res => {
					var d = res.data.data;
					if (d.errno == 0) {
						alert("发送成功,请注意查收")
						//成功
						//按钮不可以
						_this.disabled = true
						//倒计时
						//验证码60秒倒计时
						if (!_this.timer) {
							_this.timer = setInterval(() => {
								if (_this.time > 0 && _this.time <= 60) {
									_this.time--;
									if (_this.time !== 1) {
										_this.codeMsg = "重新发送(" + _this.time + ")秒";
									} else {
										clearInterval(_this.timer);
										//重置按钮内容
										_this.codeMsg = "获取验证码";
										//重置倒计时
										_this.time = 60;
										//重置定时器
										_this.timer = null;
										//恢复按钮状态
										_this.disabled = false;
									}
								}
							}, 1000)
						}
					} else {
						//失败
						alert(d.errmsg)
					}
				})
			},
			//验证手机验证码是否正确,是否已经过时
			updatePasswordVerify: function(){
				var _this = this;
				console.log(_this.user)
				if(_this.user.userPhone == ""){
					alert("请先输入手机号")
					return
				}
				if(_this.user.code == ""){
					alert("请先输入验证码")
					return
				}
				var patrn=/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
				if(!patrn.exec(_this.user.userPhone)){
					alert("请输入正确的手机号码")
					return
				}
				updatePasswordVerify(_this.user).then(res => {
					var result = res.data.data;
					console.log(result)
					if(result.errno == 0){
						_this.ishidden = false
					}else if(result.errno == 1){
						alert(result.errmsg)
					}
				})

			},
			//修改密码
			updateBankUserPassword: function() {
				var _this = this;
				console.log(_this.user)
				if(_this.user.userPassword == ""){
					alert("密码不能为空")
					return
				}
				if(_this.user.passwordConfig == ""){
					alert("确认密码不能为空")
					return
				}
				if(_this.user.passwordConfig != _this.user.userPassword){
					alert("确认密码与密码不相同")
					return
				}
				updateBankUserPassword(_this.user).then(res => {
					var result = res.data.data;
					if(result.errno == 0){
						alert(result.errmsg)
						window.location.href = "personal_center.html"
					}else if(result.errno == 1){
						alert(result.errmsg);
					}
				})
			}
		},
		watch:{
			'user.userPassword':function(){
				console.log("userPassword")
				var patrn = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
				if(!patrn.exec(this.user.userPassword)){
					if(this.user.userPassword == 0){
						$("#userPasswordMsgId").attr("hidden","hidden");
						this.userPasswordMsg = "密码格式为6-20位的数字和英文"
					}else{
						$("#userPasswordMsgId").removeAttr("hidden");
						this.userPasswordMsg = "密码格式不正确，为6-20位的数字和英文"
					}
				}else{
					$("#userPasswordMsgId").attr("hidden","hidden");
					this.userPasswordMsg = "密码格式为6-20位的数字和英文"
				}
			},
			'user.passwordConfig':function(){
				console.log("passwordConfig")
				if(this.user.userPassword != this.user.passwordConfig){
					if(this.user.passwordConfig == 0){
						$("#passwordConfigMsgId").attr("hidden","hidden");
						this.userPasswordMsg = "请再次确认密码"
					}else{
						$("#passwordConfigMsgId").removeAttr("hidden");
						this.passwordConfigMsg = "确认密码与密码不相同";
					}
				}else{
					$("#passwordConfigMsgId").attr("hidden","hidden");
					this.userPasswordMsg = "请再次确认密码"
				}
			}
		},
		created() {
			//判断用户是否登录,没有登录则跳转到登录页面
			var token = localStorage.getItem("token");
			if (token == null) {
				this.hasLogin = false;
			}else {
				this.hasLogin = true;
			}
		}
	})
</script>
