<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主动收款</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <style>
        .but{background-color: #00b8d4}
    </style>
</head>
<body id="top">

<div id="app" class="view  hm-gradient" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">

                <!--   主体内容    -->

                <div class="col-md-10 col-lg-10" style="margin-left: 100px">
                    <div class="text-center form-title">主 动 收 款</div>


                    <div class="panel-body scroll-panel"
                         style="height: 400px;width: 300px; overflow-y:scroll;float: left;margin-left: 200px">
                        <div class=" col col-lg-12">
                            <ul class="navbar-nav ml-auto payee-group-list-ul" v-for="active in activeGatherings" >
                                <a @click="clickHistory(active.activeId)">
                                    <li>发往 {{active.outUserName}}的主动收款</li>
                                </a>
                            </ul>
                            <ul class="navbar-nav ml-auto payee-group-list-ul">
                                <a @click="clickGathering()">
                                    <li>➕发起主动收款</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <!--                查看历史收款记录-->
                    <form v-for="active in transferRecordsByID()" :key="transferRecordId" @submit.prevent="onSubmit" v-show="flag==0" style="float: left;margin-left: 20px;background-color: rgba(255,255,255,0.2);height: 400px;width: 300px"    >
                        <div class="font-bold form-div"  >
                            收款银行卡：{{active.inBank}}{{active.inBankCard}}
                        </div>
                        <div class="font-bold form-div">
                            付款人：{{active.outUserName}}
                        </div>
                        <div class="font-bold form-div">
                            收款金额：{{active.muchMoney}}
                            元
                        </div>
                        <div class="font-bold form-div">
                            备注：{{active.transferRemarks}}
                        </div>
                       <div class="font-bold form-div" v-show="active.activestate==100">
                            订单状态：处理中
                        </div>
                        <div class="font-bold form-div" v-show="active.activestate==101">
                            订单状态：已完成
                        </div>
                        <div class="font-bold form-div" v-show="active.activestate==102">
                            订单状态：已取消
                        </div>
                        <div class="text-md-center" v-show="active.activestate==100">
                           <button @click="abolishGathering()">取消收款</button>
                        </div>
                    </form>
                    <form style="float: left;margin-left: 20px;background-color: rgba(255,255,255,0.2);height: 400px;width: 300px" v-show="flag==1" @submit.prevent="onSubmit">
                        <div class="font-bold form-div" >
                            <div style="float:left;margin-bottom: 10px">
                                选择收款银行卡：
                            </div>
                            <select class="form-control form-selection col-lg-11"
                                    style="margin-left: 5px;margin-top: 10px"   v-model="activeGathering.inBankId">
                                <option  class="form-selection-option" v-for="banks in bankCards" :value="banks.bankCardId" >
                                    {{banks.bank}},{{banks.bankCardNumber}}
                                </option>
                            </select>
                        </div>

                        <div class="font-bold form-div">
                            付款人姓名：
                            <input class="col-md-10 col-lg-10" type="text" style="margin-left: 8px"
                                   placeholder="输入付款人姓名" v-model="activeGathering.outUserName">
                        </div>
                        <div class="font-bold form-div">
                            付款人手机号：
                            <input class="col-md-10 col-lg-10" type="text" style="margin-left: 8px"
                                   placeholder="输入付款人的手机号" @change="updatePasswordSms()"  maxlength="11" v-model="activeGathering.outUserPhone"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                        </div>
                        <div class="font-bold form-div">
                            收款金额：
                            <input class="col-md-10 col-lg-3" type="text" v-model="activeGathering.muchMoney" @keyup="checkAmount()" onkeyup="this.value=this.value.replace(/[^\d\.]/g,'')">元
                        </div>
                        <div class="font-bold form-div" v-show="msgAmount!=null" :key="msgAmount">
                                {{msgAmount}}
                        </div>
                        <div class="font-bold form-div">
                            备注：
                            <input class="col-md-10 col-lg-8" type="text" v-model="activeGathering.transferRemarks">
                        </div>
                        <div class="text-md-center" >
                            <button class="btn btn-blue btn-sm" style="font-size: medium" @click="upSubmit">确认</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>


<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            /*历史主动收款记录*/
            activeGatherings:[],
            /*获取用户新增主动收款的信息*/
            activeGathering:{
                //收款人id
                inUserId:"",
                //收款人卡号id
                inBankId:"",
                //付款人姓名
                outUserName:"",
                //付款人手机号
                outUserPhone:"",
                //订单金额
                muchMoney:"",
                //订单备注
                transferRemarks:""
            },
            /*获取用户名下所有银行卡*/
            bankCards:[],
            /*当前登录用户id*/
            userId:"",
            /*记录用户点击的是新增收款记录还是查询历史收款记录*/
            flag: "0",
            //根据用户点击展示历史记录的key
            transferRecordId:"",
            /*金额校验提醒*/
            msgAmount :""
        },
        methods: {
            /*进入主动收款时执行的方法
            * 根据用户id查询历史记录*/
            getActiveGatherings:function () {
                //刷新this作用域
                    var _this = this
                    getActiveCollectionList(this.userId).then(res=>{
                        if(res.data.data.errno==0){
                            _this.activeGatherings=res.data.data.data
                        }
                    })
                },
            /*点击了查看历史记录*/
            clickHistory: function(obj){
                this.flag="0";
                this.transferRecordId=obj
            },
            /*根据订单id查询历史记录*/
            transferRecordsByID(){
                    return this.activeGatherings.filter(item =>{
                        if(item.activeId==this.transferRecordId){
                        return true
                    }
                })
            },
            /*点击了添加新收款*/
            clickGathering: function () {
                this.flag="1";
            },
            /*取消主动收款执行的方法*/
            abolishGathering:function() {
                //状态修改为取消的订单id
                updateGatheringStatus(this.transferRecordId).then(res=>{
                    if(res.data.data.errno==0){
                        alert("已取消")
                        this.getActiveGatherings();
                    }else{
                        alert("请求超时")
                     }
                })
             },
            /*取消表单默认提交*/
            onSubmit:function(){return false;},
            /*提交主动收款*/
            upSubmit:function () {
                console.log(this.activeGathering.inBankId)
                if(this.activeGathering.inBankId==""){
                    alert("请选择收款卡")
                }
                this.activeGathering.inUserId=this.userId;
                addTransactionTecord(this.activeGathering).then(res=>{
                    if(res.data.data.errno==0){
                        alert("发起成功")
                        this.getActiveGatherings();
                        this.clickGathering();
                    }else{
                        alert("信息有误,请重试")
                    }
                })
            },
            /*金额校验*/
            checkAmount: function () {
                var str = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
                if (!str.exec(this.activeGathering.muchMoney)) {
                    //this.activeGathering.muchMoney = " ";
                    this.msgAmount = "请输入正确的转账金额 ，例如：100.11";
                } else {
                    this.msgAmount = "";
                }
            },
            /*手机号码校验*/
            updatePasswordSms:function(){
                var patrn=/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                if(!patrn.exec(this.activeGathering.outUserPhone)){
                    alert("请输入正确的手机号码")
                    return
                }
            },
            /*获取当前登录用户*/
            getUser: function () {
                var user = JSON.parse(sessionStorage.getItem("user"));
                this.userId=user.userId;
            }
        },
        created:function(){
			//判断用户是否登录,没有登录则跳转到登录页面
			var token = sessionStorage.getItem("token");
			if (token == null) {
				location.href = "login.html";
			}
               this.getUser()
            this.getActiveGatherings()
            getbankCardByUser(this.userId).then(res=>{
                this.bankCards=res.data.data.data
            })
        }
    })
</script>
