<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>消息中心</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">


</head>
<body id="top">
<div id="app"  class="view  hm-gradient" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">

                <!--   主体内容    -->

                <div class="col-md-10 col-lg-10" style="margin-left: 100px"  v-show="bodyFlag" :key="bodyFlag">
                    <div class="text-center form-title">消 息 中 心</div>

                    <div class="panel-body scroll-panel"
                         style="height: 300px;width: 300px; overflow-y:scroll;float: left;margin-left: 200px">
                        <div class=" col col-lg-12">
                            <ul class="navbar-nav ml-auto payee-group-list-ul" v-for="active in activeGatherings">
                                <a @click="clickPayment(active.activeId)">
                                    <li>来自 {{active.inUserName}} 的主动收款</li>
                                </a>
                            </ul>
                            <ul class="navbar-nav ml-auto payee-group-list-ul" v-for="mt in managerTranscations">
                                <a @click="manager(mt.transcationId)">
                                    <li>提额申请通知</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <!--展示主动收款通知-->
                    <form    v-for="active in activeById()"  :key="transferRecordId" @submit.prevent="onSubmit" style="float: left;margin-left: 20px;background-color: rgba(255,255,255,0.2);height: 300px;width: 300px" v-show="flag==0">
                        <div class="font-bold form-div">
                            收款人 ：{{active.inUserName}}
                        </div>
                        <div class="font-bold form-div">
                            收款账户：{{active.inBankCard}}
                        </div>
                        <div class="font-bold form-div">
                            付款金额：{{active.muchMoney}}
                            <u>￥</u>
                        </div>
                        <div class="font-bold form-div">
                            备注: {{active.transferRemarks}}
                        </div>
                        <div class="font-bold form-div">
                            <select class="form-control form-selection col-lg-11"
                                    style="margin-left: 5px;margin-top: 10px"  v-model="activeGathering.outBankId">
                                <option  class="form-selection-option" v-for="banks in bankCards" :value="banks.bankCardId" >
                                   {{banks.bank}},{{banks.bankCardNumber}}
                                </option>
                            </select>
                        </div>
                        <div class="font-bold form-div" v-for="banks in bankById()" :key="userBankId">
                            单笔限额:{{banks.bankCardType}}
                        </div>
                        <div class="font-bold form-div">
                            支付密码: <input class="col-md-10 col-lg-10" type="text" style="margin-left: 8px" >
                        </div>
                        <button style="margin-left: 8%;margin-top: 20px" class="btn btn-danger" @click="userfalse(active.activeId)" >拒绝</button>
                        <button style="margin-left: 8%;margin-top: 20px" class="btn btn-success"  @click="usertrue(active.activeId)">确认付款</button>

                    </form>
                    <!--展示提额通知-->
                    <form   v-for="managerTranscation in managerById()" :key="managerId" @submit.prevent="onSubmit" v-show="flag==1" style="float: left;margin-left: 20px;background-color: rgba(255,255,255,0.2);height: 300px;width: 300px" >
                        <div class="font-bold form-div">
                            申请卡号 ：{{managerTranscation.bankCard}}
                        </div>
                        <div class="font-bold form-div">
                            申请事由：{{managerTranscation.transcationMsg}}
                        </div>
                            <div class="font-bold form-div" v-if="managerTranscation.transcationStatus==0">
                                申请状态：处理中
                            </div>
                            <div class="font-bold form-div" v-if="managerTranscation.transcationStatus==1">
                                申请状态：申请失败
                            </div>
                            <div class="font-bold form-div" v-if="managerTranscation.transcationStatus==2">
                                申请状态：申请成功
                            </div>
                        <button style="margin-left: 8%;margin-top: 20px" class="btn btn-danger" @click="abolishmanagerById()" v-if="managerTranscation.transcationStatus==0">取消申请</button>
                        <button style="margin-left: 8%;margin-top: 20px" class="btn btn-danger" v-else>处理完成</button>
                    </form>
                    <!--主体内容结束-->

                </div>
                <div class="col-md-10 col-lg-3" v-show="!bodyFlag" :key="bodyFlag" style="margin: auto">
                    <div class="text-center form-title">请输入六位支付密码</div>
                    <div style="margin-bottom: 40px">
                        <input type="password" class="col-lg-2" maxlength="6" v-model="activeGathering.outBankPassword"
                               style="text-align:center;margin-left: 36%"
                               onKeypress="return (/[\d\.]/.test(String.fromCharCode(event.keyCode)))"
                        />
                    </div>
                    <button class="btn btn-danger btn-sm"
                            style="margin-left: 30px;margin-top: 20px;font-size: medium" @click.prevent="changepop()">
                        取消
                    </button>
                    <button class="btn btn-success btn-sm"
                            style="margin-left: 60px;margin-top: 20px;font-size: medium"
                            @click.prevent="confirmSubmission()">
                        确认
                    </button>
                </div>

            </div>

        </div>
    </header>


    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            /*获取所有相关主动收款通知*/
            activeGatherings:[],
            /*提额申请通知*/
            managerTranscations:[],
            /*获取用户名下所有银行卡*/
            bankCards:[],
                /*获取同意付款的订单信息*/
                activeGathering:{
                       // 订单id
                    activeId:"",
                        //付款卡id
                    outBankId:"",
                    //付款卡密码
                    outBankPassword:""
                }
            ,
            /*判断用户点了提额通知还是收款通知(0:收款通知,1提额通知)*/
            bodyFlag:true,
            flag:"",
            /*登录用户id*/
            userId: "",
            /*登录用户名*/
            userName:"",
            //根据用户点击展示收款信息的key
            transferRecordId:"",
            //根据用户点击提额通知id展示信息的key
            managerId:""
        },
        methods: {
            /*页面加载完成执行*/
            getMessageCenters:function(){
                    _this=this
                    getMessageCenter(this.userId,this.userName).then(res=>{
                        if(res.data.data.errno==0){
                            _this.activeGatherings= res.data.data.data;
                            _this.managerTranscations=res.data.data.data.data;
                        }
                })
            },
            /*点击主动收款通知执行的方法*/
            clickPayment: function(obj){
                this.transferRecordId=obj;
                this.userBankId=null;
                this.flag="0";
            },
            /*根据id展示收款信息*/
            activeById(){
                    return this.activeGatherings.filter(item =>{
                        if(item.activeId==this.transferRecordId){
                        return true
                    }
                })
            },
            /*点击提额申请通知执行的方法*/
            manager: function(obj){
                this.flag="1";
                this.managerId=obj;
            },
            /*根据id展示提额通知*/
            managerById(){
                    return this.managerTranscations.filter(item =>{
                        if(item.transcationId==this.managerId){
                        return true
                    }
                })
            },
            /*用户主动取消提额执行的方法*/
            abolishmanagerById:function(){
                updateManagerTranscationStatus(this.managerId).then(res=>{
                    if(res.data.data.errno==0){
                        alert("已取消")
                        this.getMessageCenters();
                    }else{
                        alert("请求超时")
                    }
                })
            },
            /*根据银行卡id展示该卡交易限额*/
            bankById(){
                    return this.bankCards.filter(item =>{
                        if(item.bankCardId==this.userBankId){
                            if(item.bankCardType.indexOf("普") != -1){
                                item.bankCardType="￥500,000"
                            }else if(item.bankCardType.indexOf("黑") != -1){
                                item.bankCardType="￥10,000,000"
                            }else if(item.bankCardType.indexOf("钻") != -1){
                                item.bankCardType="￥1,000,000"
                            }
                            else if(item.bankCardType.indexOf("企") != -1){
                                item.bankCardType="￥100,000,000"
                            }
                        return true
                    }
                });
            },
            /*用户点击拒绝付款执行的方法*/
            userfalse:function(obj){
                updateGatheringStatus(obj).then(res=>{
                    if (res.data.data.errno==0){
                        alert("已取消付款")
                        this.getMessageCenters();
                    }else {
                        alert("订单异常,请重试")
                    }
                })
            },
            /*用户同意付款执行的方法*/
            usertrue:function(obj){
                this.bodyFlag=false;
                if (this.activeGathering.outBankId==""){
                    alert("请先选择付款卡")
                }
                this.activeGathering.activeId=obj;
            },
            /*用户输入密码后执行*/
            confirmSubmission:function(){
                    agreeGathering(this.activeGathering).then(res=>{
                        if (res.data.data.errno==0){
                        alert("支付成功")
                        this.bodyFlag=true;
                        this.getMessageCenters()
                    }else {
                        alert("支付密码错误")
                    }
                })
              } ,
            /*用户取消输入密码*/
            changepop: function(){
                this.bodyFlag=true;
            },
            /*获取当前登录用户*/
            getUser: function () {
                var user = JSON.parse(sessionStorage.getItem("user"));
                this.userId=user.userId;
                this.userName=user.userName;
            },
            /*取消表单的默认提交*/
            onSubmit:function(){return false;},
        },
        /*页面加载完成事件*/
        created: function () {
            var token = localStorage.getItem("token");
            if (token == null) {
                location.href = "login.html";
            }
            this.getUser()
            this.getMessageCenters()
            getbankCardByUser(this.userId).then(res=>{
                this.bankCards=res.data.data.data
            })
        }
    })

</script>
