<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>收款群组</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <style>
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: #c6c4cd;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #c6c4cd;
            opacity: 1;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #c6c4cd;
            opacity: 1;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #c6c4cd;
        }
    </style>
</head>
<body id="top">
<div id="app" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">
                <!--   主体内容    -->
                <div class="col-md-10 col-lg-10" style="margin-left: 100px">
                    <div class="text-center form-title">收 款 群 组</div>
                    <div class="panel-body scroll-panel"
                         style="height: 300px;width: 300px; overflow-y:scroll;float: left;margin-left: 100px">
                        <div class=" col col-lg-12">
                            <ul class="navbar-nav ml-auto payee-group-list-ul">
                                <a>
                                    <li>收款群组名称</li>
                                </a>
                                <!-- 遍历出该用户所有的收款群组-->
                                <li v-for="group in payeeGroup">
                                    <div @click.prevent="selectPayeeById(group.payeeGroupId)">{{group.payeeGroupName}}
                                    </div>
                                </li>
                                <!--添加群组-->
                                <li v-show="showAddPayeeGroupInput">
                                    <input type="text" v-model="newPayeeGroup.inputPayeeGroup" placeholder="请输入新的群组姓名">
                                    <button class="btn btn-blue btn-sm" @click.prevent="addPayeeGroup()"
                                            style="margin-top: 20px;font-size: medium">
                                        添加
                                    </button><button class="btn btn-blue btn-sm" @click.prevent="closeAddPayeeGroup()"
                                                     style="margin-top: 20px;font-size: medium">
                                    取消
                                </button>
                                </li>

                                <!--添加群组-->
                                <a @click.prevent="oppenAddPayeeGroup()">
                                    ➕创建群组
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body scroll-panel"
                         style="height: 300px;width: 570px; overflow-y:scroll;float: left">
                        <div class=" col col-lg-12">
                            <ul class="navbar-nav ml-auto payee-group-list-ul">

                                <!--遍历出收款群组所有收款人-->
                                <div style="width: 100%" v-if="!payees[0].payeeName == ''" v-for="payee in payees">
                                    <li>
                                        {{payee.payeeName}}  {{payee.bankCardName}}  {{payee.payeeBankCard}}
                                        <button class="btn btn-danger btn-sm"
                                                @click.prevent="deletePayeeById(payee.payeeId)">
                                            删除
                                        </button>
                                    </li>
                                </div>

                                <div class="btn-group" v-show="showChange">
                                    <input type="text"
                                           style="margin-left: 2px;width: 70px;background-color: rgba(255,255,255,0)"
                                           placeholder="收款人" v-model="newPayee.payeeName">

                                    <select class="form-control form-selection-bank col-lg-3" style="margin-left: 10px"
                                            v-model="newPayee.payeeBankIdentification">
                                        <option disabled class="form-selection-option" value="">选择银行</option>
                                        <template v-for="sb in subordinateBank">
                                            <option class="form-selection-option" :value="sb.bankIdentification">
                                                {{sb.bankName}}
                                            </option>
                                        </template>
                                    </select>

                                    <input v-model="newPayee.payeeBankCard" type="text"
                                           style="width: 280px;margin-left: 10px" placeholder="收款账户"
                                           type="number" @blur="selectBankCard()"/>
                                </div>
                                <h6 style="color: red">{{this.msgforselectBankCard}}</h6>

                                <div style="margin-left: 140px;margin-top: 16px;width: 300px;" v-show="showChange">
                                    <button class="btn btn-sm btn-warning" style="font-size: medium"
                                            @click.prevent="showChangeOpen()">取消
                                    </button>
                                    <button class="btn btn-sm btn-success" style="font-size: medium"
                                            @click.prevent="addPayee()">保存
                                    </button>
                                </div>
                                <button class="btn btn-blue btn-sm" @click.prevent="showChangeOpen()"
                                        v-show="!showChange"
                                        style="margin-top: 20px;font-size: medium">
                                    添加
                                </button>


                            </ul>
                        </div>
                    </div>
                    <div style="width: 200px;margin-left: 450px">
                        <a href="transfer_bulk.html">
                            <button class="btn btn-sm btn-warning" style="margin-top: 20px;font-size: medium">
                                返回批量转账
                            </button>
                        </a>
                    </div>
                </div>

                <!--  主体内容结束  -->
            </div>

        </div>

    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            //查询出来的该用户所有收款群组
            payeeGroup: [{
                payeeGroupId: "",
                payeeGroupName: "",
            }],
            //根据收款群组id查询出来的所有收款人
            payees: [{
                payeeId: "",
                payeeName: "",
                payeeBankIdentification: "",
                payeeBankCard: "",
                payeeGroupId: "",
                bankCardName:"",
            }],
            showAddPayeeGroupInput: false,
            //收款群组名字
            newPayeeGroup: {
                userId: "",
                inputPayeeGroup: "",
            },
            showChange: false,
            user: {
                userId: "",
                userName: "",
                userPhone: "",
                userPassword: "",

            },
            //所有合作银行
            subordinateBank: [{
                bankIdentification: "",
                bankName: "",
            }],
            //查询银行卡错误
            msgforselectBankCard: "",
            newPayee: {
                payeeName: "",
                payeeBankIdentification: "",
                payeeBankCard: "",
                payeeGroupId: "",
            }
        },
        methods: {
            selectAllPayeeGroup: function () {
                //查询该用户所有 收款群组显示
                selectPayeeGroupByUid(this.user.userId).then(res => {
                    if (res.data.data.errono == 1) {
                        alert(res.data.data.errmsg);
                    } else {
                        this.payeeGroup = res.data.data.data;
                    }
                })

            },

            selectPayeeById: function (id) {
                this.msgforselectBankCard="";
                this.showChange = false;
                //根据 收款群组id获取所有收款人
                selectPayeeById(id).then(res => {
                    this.newPayee.payeeGroupId = id;
                    //
                    if (res.data.data.errono == 1) {
                        alert(res.data.data.errmsg);
                    } else {
                        console.log(res);
                        this.payees = res.data.data.data;
                    }

                })
            },
            oppenAddPayeeGroup: function () {
                this.showAddPayeeGroupInput = true;
            },

            addPayeeGroup: function () {
                this.newPayeeGroup.userId = this.user.userId;
                if (this.newPayeeGroup.userId == "") {
                    return alert("操作异常请重新登录");
                }
                if (this.newPayeeGroup.inputPayeeGroup != "") {
                    //添加一条收款群组到
                    addPayeeGroup(this.newPayeeGroup).then(res => {
                        if (res.data.data.errono == 1) {
                            alert(res.data.data.errmsg);
                        } else {
                            this.selectAllPayeeGroup();
                            this.newPayeeGroup.inputPayeeGroup = "";
                            this.showAddPayeeGroupInput = false;
                        }
                    })
                }
            },
            closeAddPayeeGroup:function(){
                this.showAddPayeeGroupInput = false;
            },
            //切换添加Payee
            showChangeOpen: function () {
                if (this.showChange) {
                    this.msgforselectBankCard = "";
                    this.showChange = false;
                } else {
                    this.showChange = true;
                }
            },
            // 删除群组用户的方法
            deletePayeeById: function (payeeId) {
                deletePayeeById(payeeId).then(res => {
                    if (res.data.data.errono == 1) {
                        alert(res.data.data.errmsg);
                    } else {
                        for (var i = 0; i < this.payees.length; i++) {
                            if (this.payees[i].payeeId == payeeId) {
                                this.payees.splice(i, 1);
                            }
                        }
                    }

                })
            },
            // 查询银行卡所属银行的方法
            selectBankCard: function () {
                var str = /^\d{15,19}$/;
                //当输入数值大于15并且光标离开和回车时调用
                if (str.exec(this.newPayee.payeeBankCard)) {
                    //调用查询银行卡归属银行
                    this.msgforselectBankCard = "";
                    if (this.newPayee.payeeBankCard.substring(0, 4) == "9999") {
                        this.newPayee.payeeBankIdentification = "BOWR";
                    } else {
                        selectBankCardAttribution(this.newPayee.payeeBankCard).then(res => {
                            if (res.data.data.errno == 0) {
                                this.newPayee.payeeBankCard = res.data.data.data;
                            } else {
                                this.msgforselectBankCard = res.data.data.errmsg;
                            }
                        })
                    }
                } else {
                    this.payees.payeeBankCard = "";
                    this.msgforselectBankCard = "请按照格式输入银行卡号，15-19位纯数字 ";
                }

            },

            // 添加收款组用户
            addPayee: function () {

                if (this.newPayee.payeeBankCard == "") {
                    return alert("请输入银行卡号");
                }
                if (this.newPayee.payeeBankIdentification == "") {
                    return alert("请重新输入银行卡号");
                }
                if (this.newPayee.payeeName == "") {
                    return alert("请输入收款人姓名");
                }
                if (this.newPayee.payeeGroupId == "") {
                    return alert("请重新选择群组后添加");
                }
                addPayee(this.newPayee).then(res => {
                    if (res.data.data.errno == 0) {
                        this.showChangeOpen();
                        this.selectPayeeById(this.newPayee.payeeGroupId);
                    } else {
                        return alert(res.data.data.errmsg)
                    }
                })


            },
        },
        created() {
            //判断用户是否登录,没有登录则跳转到登录页面
            var token = localStorage.getItem("token");
            if (token == null) {
                location.href = "login.html";
            }
            this.user = JSON.parse(sessionStorage.getItem("user"));
            // 加载页面时从本地查询出所有所属银行
            this.subordinateBank = JSON.parse(sessionStorage.getItem("subordinateBank"));
            //根据用户查询他所拥有的银行卡
            // this.getBankCardByUser();
            this.bankCards = JSON.parse(sessionStorage.getItem("bankCards"));
            //查询用户所有的收款群组
            this.selectAllPayeeGroup();

        }
    })
</script>
