<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量转账</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button{
            -webkit-appearance: none !important;
        }
    </style>
</head>
<body id="top">
<div id="app" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">


                <!--   主体内容    -->

                <div class="col-md-10 col-lg-5" style="margin-left: 360px">
                    <div class="text-center form-title">批 量 转 账</div>

                    <form id="transfer" class="">
                        <!--本地获取当前用户所有银行卡-->
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9"
                                  v-model="transferBulkVo.outBankCardID"  >
                                <option disabled value="" class="form-selection-option">选择付款银行卡</option>
                                <template v-for="bankCard in bankCards">
                                    <option :value="bankCard.bankCardId" class="form-selection-option">
                                        {{bankCard.bank}}，{{bankCard.bankCardNumber}}
                                    </option>
                                </template>
                            </select>
                            <button class="form-selection-btn"><a href="bank_card_manage.html" style="color: #ffffff">管理银行卡</a>
                            </button>
                        </div>
                        <!--根据用户id遍历群组-->
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9" v-model="selectPayeeGroup">
                                <option disabled selected class="form-selection-option" value="">选择收款群组</option>
                                <option class="form-selection-option">发工资（10人）</option>
                                <option class="form-selection-option">发零花钱（2人）</option>
                            </select>
                            <button class="form-selection-btn"><a href="payee_group.html">管理收款群组</a></button>
                        </div>

                        <div class="panel-body scroll-panel" style="height: 200px; overflow-y:scroll">
                            <!--根据群组遍历转账用户-->
                            <div class="scroll-panel-div" v-for="payee in payees">
                                <div><span> {{payee.payeeName}}，{{payee.bankName}}，{{payee.payeeBankCard}}，转账：</span><input type="number" class="col-md-10"
                                                                                        style="width: 95px"  @blur="ismoney()">元
                                </div>
                            </div>
                        </div>

                        <!--                    <div class="font-bold form-div">-->
                        <!--                        支付密码：-->
                        <!--                        <div><input class="col-md-10 col-lg-11" type="password"></div>-->
                        <!--                    </div>-->


                        <div class="text-md-center">
                            <button class="btn btn-blue btn-sm" style="margin-top: 20px; font-size: medium"
                                    type="submit">确认转账
                            </button>
                            </button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            selectPayeeGroup:"",
            payees:[{
                payeeName:"张三",
                bankName:"垃圾银行",
                payeeBankCard:"123456"
            }],
            bankCards: [{
                //银行卡id，bankCardId
                //残缺卡号，bankCardNumber
                //银行卡类型，bankCardType
            }],
            user: {
                userId: "2",
                userName: "啊啊啊啊啊",
                userPhone: "235456",
                userPassword: "123123",

            },
            transferBulkVo:[{
                outBankCardID: "",
            }],
        },
        methods: {
            //获取用户所持银行卡信息
            getBankCardByUser: function () {
                getBankCardByUser(this.user).then(res => {
                    if (res.data.data.errno == 0) {
                        this.bankCards = res.data.data.data;
                    }
                })

            },
        },
        created(){
            //根据用户查询他所拥有的银行卡
            this.getBankCardByUser();
        }
    })
</script>
