<!DOCTYPE html>
<html class="full-height" lang="en-US" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>单次转账</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body id="top">

<div id="app" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">
                <!--   主体内容    -->
                <div class="col-md-10 col-lg-5" style="margin-left: 360px">
                    <div class="text-center form-title">单 次 转 账</div>
                    <form id="transfer" class="">
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9" v-model="transferValue.outBankCard">
                                <option disabled value="" class="form-selection-option">选择付款银行卡</option>
                                <option class="form-selection-option">中国银行，1234***********6789</option>
                                <option class="form-selection-option">招商银行，1234***********6789</option>
                            </select>
                            <button class="form-selection-btn"><a href="bank_card_manage.html">管理银行卡</a></button>
                        </div>

                        <div class="font-bold form-div">
                            收款人账户：
                            <div class="font-bold form-div col-lg-8 btn-group">
                                <select class="form-control form-selection-bank col-lg-4"  v-model="transferValue.inBank">
                                    <option disabled  class="form-selection-option" value="">选择银行</option>
                                    <option class="form-selection-option">中国银行</option>
                                    <option class="form-selection-option">招商银行</option>
                                </select>
                                <div style="margin-left: 20px">
                                    <input v-model="transferValue.inBankCard" class="col-md-10" style="width: 228px" type="text" @blur="selectBankCard()">
                                </div>
                            </div>
                        </div>
                        <div class="font-bold form-div">
                            收款人姓名：
                            <input class="col-md-10 col-lg-3"v-model="transferValue.inBankName"  type="text" >
                        </div>
                        <div class="font-bold form-div">
                            转账金额：
                            <input class="col-md-10 col-lg-4"v-model="transferValue.muchMoney"  type="text">元
                        </div>
                        <div class="font-bold form-div">
                            预约到账时间：
                            <div class="font-bold form-div col-lg-8 btn-group">
                                <select class="form-control form-selection-bank col-lg-5" v-model="transferValue.transferTime" @blur="opp()" >
                                    <option value="0" class="form-selection-option">马上到账</option>
                                    <option value="2" class="form-selection-option">2小时后到账</option>
                                    <option value="4" class="form-selection-option">4小时后到账</option>
                                </select>
                            </div>

                        </div>
                        <div class="font-bold form-div">
                            备注：
                            <input class="col-md-10 col-lg-11" type="text" v-model="transferValue.transferRemarks" >
                        </div>
                        <!--                    <div class="font-bold form-div">-->
                        <!--                        支付密码：-->
                        <!--                        <div><input class="col-md-10 col-lg-11" type="password"></div>-->
                        <!--                    </div>-->
                        <div class="text-md-center">
                            <button class="btn btn-blue btn-sm" style="font-size: medium" type="submit">确认转账</button>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            //转账信息
            transferValue: {
                //付款银行卡
                outBankCard:"",
                //收款的银行
                inBank:"",
                //收款的银行卡号
                inBankCard:"",
                //收款人姓名
                inBankName:"",
                //转账金额
                muchMoney:"",
                //转账时间,0,代表即时转账，2代表2小时转账，4代表4小时转账
                transferTime:"0",
                //转账备注
                transferRemarks:""
            }

        },
        methods: {
            selectBankCard: function(){
                if(this.inBankCard!=""){
                    //调用查询银行卡归属银行方法
                    selectBankCard(this.inBankCard).then(res=>{
                        this.inBank=res.data.data;

                    })

                }
            },
            selectUserAllBankCard(){
                //条用根据用户ID查询所有用户银行卡的方法
            }
        },
        create(){
            //加载页面是调用查询用户所有银行卡方法
           this.selectBankCard();
        }
    })
</script>
