<!DOCTYPE html>
<html class="full-height" lang="en-US" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>跨境转账</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">

</head>
<body id="top">

<div id="app" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav ></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">
                <!--   主体内容    -->
                <div class="col-md-10 col-lg-5" style="margin-left: 360px">
                    <div class="text-center form-title">跨 境 转 账</div>

                    <!--跨境转账表单-->
                    <form id="bankCardTransfer" class="">
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9"
                                    v-model="crossBorderTransferForm.bankOutCardId">
                                <option disabled value="" class="form-selection-option">选择付款银行卡</option>
                                <template v-for="bankCard in bankCards">
                                    <option :value="bankCard.bankCardId" class="form-selection-option">
                                        {{bankCard.bank}}，{{bankCard.bankCardNum}}
                                    </option>
                                </template>
                            </select>
                            <button class="form-selection-btn"><a href="bank_card_manage.html" style="color: #ffffff">管理银行卡</a>
                            </button>
                        </div>
                        <div class="font-bold form-div">
                            收款人姓名：
                            <input class="col-md-10 col-lg-6" v-model="crossBorderTransferForm.inCardUserName"
                                   type="text">
                        </div>
                        <div class="font-bold form-div">
                            收款人账户：
                            <div class="btn-group">
                                <!--                                <select class="form-control form-selection-bank col-lg-4"-->
                                <!--                                        v-model="transferValue.inBank">-->
                                <!--                                    <option disabled class="form-selection-option" value="">选择银行</option>-->
                                <!--                                    <option class="form-selection-option">中国银行</option>-->
                                <!--                                    <option class="form-selection-option">招商银行</option>-->
                                <!--                                </select>-->
                                <div>
                                    <input v-model="crossBorderTransferForm.bankInCard" class="col-md-10"
                                           style="width: 257px"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="font-bold form-div">
                            币种选择：
                            <div class="font-bold form-div col-lg-5 btn-group">
                                <select class="form-control form-selection-bank col-lg-5"
                                        v-model="crossBorderTransferForm.currencyType">
                                    <option value="USD" class="form-selection-option">美元</option>
                                    <option value="HKD" class="form-selection-option">港元</option>
                                    <option value="EUR" class="form-selection-option">欧元</option>
                                    <option value="JPY" class="form-selection-option">日元</option>
                                    <option value="GBP" class="form-selection-option">英镑</option>
                                </select>
                                <div style="margin-left: 30px">
                                    汇率：{{exchangeRate}}
                                </div>
                            </div>


                        </div>
                        <div class="font-bold form-div">
                            转账金额（人民币）：
                            <input class="col-md-10 col-lg-4" v-model="transferRecordAmountFrom"
                                   type="number">元
                        </div>
                        <div class="font-bold form-div">
                            转账金额（外币）：
                            <input class="col-md-10 col-lg-4" v-model="transferRecordAmountTo"
                                   type="number">元
                        </div>
                        <div class="font-bold form-div">
                            备注：
                            <input class="col-md-10 col-lg-11" type="text"
                                   v-model="crossBorderTransferForm.transferNote">
                        </div>
                        <!--                    <div class="font-bold form-div">-->
                        <!--                        支付密码：-->
                        <!--                        <div><input class="col-md-10 col-lg-11" type="password"></div>-->
                        <!--                    </div>-->
                        <div class="text-md-center">
                            <button class="btn btn-blue btn-sm" style="font-size: medium" type="submit">确认转账</button>
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            transferRecordAmountFrom: 0,
            transferRecordAmountTo: 0,
// 跨境转账表单
            crossBorderTransferForm: {
                // transferRecordAmountFrom: undefined,
                // transferRecordAmountTo: undefined,
                currencyType: "USD",
                transferNote: "",
                bankOutCardId: "",
                inCardUserName: "",
                bankInCard: "",
            },
// 用户所有的本行卡
            bankCards: [{
                bankCardId: "1",
                bankCardNum: "2341**8432",
                bank: "五仁银行",
                bankCardType: "黑卡",
            }, {
                bankCardId: "2",
                bankCardNum: "2341**8432",
                bank: "五仁银行",
                bankCardType: "钻石卡",
            }],
// 实时汇率
            exchangeRate: 7.12,
        },
        methods: {},
        watch: {
            transferRecordAmountFrom: function (val) {
                this.transferRecordAmountFrom = val;
                this.transferRecordAmountTo = this.transferRecordAmountFrom * this.exchangeRate;
                if (this.transferRecordAmountFrom == '0.00') {
                    this.transferRecordAmountFrom = '';
                } else {
                    this.transferRecordAmountFrom = this.transferRecordAmountFrom.replace(/\.000/, '').replace(/(\.\d)0/, '$1');
                }
                if (this.transferRecordAmountTo == '0.00') {
                    this.transferRecordAmountTo = '';
                } else {
                    this.transferRecordAmountTo = this.transferRecordAmountTo.replace(/\.000/, '').replace(/(\.\d)0/, '$1');
                }

            },
            transferRecordAmountTo: function (val) {
                this.transferRecordAmountTo = val;
                this.transferRecordAmountFrom = this.transferRecordAmountTo / this.exchangeRate;
                if (this.transferRecordAmountFrom == '0.00') {
                    this.transferRecordAmountFrom = '';
                } else {
                    this.transferRecordAmountFrom = this.transferRecordAmountFrom.replace(/\.000/, '').replace(/(\.\d)0/, '$1');
                }
                if (this.transferRecordAmountTo == '0.00') {
                    this.transferRecordAmountTo = '';
                } else {
                    this.transferRecordAmountTo = this.transferRecordAmountTo.replace(/\.000/, '').replace(/(\.\d)0/, '$1');
                }
            }
        },
        create() {

        }
    })
</script>
