<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量转账</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
        }
    </style>
</head>
<body id="top">
<div id="app" style="height: 100%">
    <header>
        <!-- Navbar-->
        <topnav></topnav>
        <!-- 背景图-->
        <div class="view hm-gradient" id="intro">
            <!-- 渐变色-->
            <div class="full-bg-img d-flex align-items-center">


                <!--   主体内容    -->

                <div class="col-md-10 col-lg-5" style="margin-left: 360px" v-show="!showpop">
                    <div class="text-center form-title">批 量 转 账</div>

                    <form id="transfer" class="">
                        <!--本地获取当前用户所有银行卡-->
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9" v-model="payees.bankCard.bankCardId">
                                <option disabled value="" class="form-selection-option">选择付款银行卡</option>
                                <template v-for="bc in bankCards">
                                    <option :value="bc.bankCardId" class="form-selection-option">
                                        {{bc.bank}}，{{bc.bankCardNumber}}
                                    </option>
                                </template>
                            </select>
                            <button class="form-selection-btn"><a href="bank_card_manage.html" style="color: #ffffff">管理银行卡</a>
                            </button>
                        </div>
                        <!--根据用户id遍历群组-->
                        <div class="font-bold form-div col-lg-12 btn-group">
                            <select class="form-control form-selection col-lg-9" v-model="currentPayeeGroupid"
                                    @click.prevent="selectPayeeById(currentPayeeGroupid)">
                                <option disabled selected class="form-selection-option" value="0">选择收款群组</option>

                                <template v-for="pg in payeeGroup">
                                    <option class="form-selection-option" :value="pg.payeeGroupId">
                                        {{pg.payeeGroupName}}
                                    </option>
                                </template>
                            </select>
                            <button class="form-selection-btn"><a href="payee_group.html">管理收款群组</a></button>
                        </div>

                        <div class="panel-body scroll-panel" style="height: 200px; overflow-y:scroll">
                            <!--根据群组遍历转账用户-->
                            <div class="scroll-panel-div" v-for="(p,index) in payees.payee">
                                <div v-show="p.payeeName != ''">
                                    <span> {{p.payeeName}}，{{p.bankCardName}}，{{p.payeeBankCard}}，转账：</span>
                                    <input
                                            type="number" class="col-md-10"
                                            style="width: 95px" v-model="p.muchMoney" @keyup="checkAmount(index)">元
                                </div>

                            </div>
                            <h6 style="color: red">{{this.msgAmount}}</h6>
                        </div>

                        <!--                    <div class="font-bold form-div">-->
                        <!--                        支付密码：-->
                        <!--                        <div><input class="col-md-10 col-lg-11" type="password"></div>-->
                        <!--                    </div>-->


                        <div class="text-md-center">
                            <button class="btn btn-blue btn-sm" style="margin-top: 20px; font-size: medium"
                                    type="submit" @click.prevent="changepop()">确认转账
                            </button>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- 弹窗 -->

                <div class="col-md-10 col-lg-3" v-show="showpop" style="margin: auto">
                    <div class="text-center form-title">请输入六位支付密码</div>
                    <div style="margin-bottom: 40px">
                        <input type="password" class="col-lg-2" maxlength="6" v-model="payees.bankCard.bankCardPassword"
                               style="text-align:center;margin-left: 36%"
                               onKeypress="return (/[\d{6}]/.test(String.fromCharCode(event.keyCode)))"
                        />
                    </div>
                    <button class="btn btn-danger btn-sm"
                            style="margin-left: 30px;margin-top: 20px;font-size: medium" @click.prevent="changepop()">
                        取消
                    </button>
                    <button class="btn btn-success btn-sm"
                            style="margin-left: 60px;margin-top: 20px;font-size: medium"
                            @click.prevent="submitTransferBulk()">
                        确认
                    </button>
                </div>

            </div>
        </div>
    </header>

    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; Five Bank</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="js/api.1.js"></script>
<script type="text/javascript" src="components/topNav.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            //查询出来的该用户所有收款群组
            payeeGroup: [{
                payeeGroupId: "",
                payeeGroupName: "",
            }],
            // 当前选择的群组
            currentPayeeGroupid: 0,
            payees: {
                bankCard: {
                    bankCardId: "",
                    bankCardPassword: "",
                },
                payee: [{
                    payeeName: "",
                    payeeBankIdentification: "",
                    payeeBankCard: "",
                    bankCardName: "",
                    muchMoney: "",
                }]
            },
            //查询出的银行卡
            bankCards: [{
                //银行卡id，
                bankCardId: "",
                //残缺卡号，
                bankCardNumber: "",
                //银行卡类型，
                bankCardType: ""
            }],
            user: {
                userId: "",
                userName: "",
                userPhone: "",
                userPassword: "",

            },
            //金额错误提示
            msgAmount: "",
            //弹窗
            showpop: false,
            //提交的银行卡


        },
        methods: {
            /*  //获取用户所持银行卡信息,从本地获取
              getBankCardByUser: function () {
                  getBankCardByUser(this.user).then(res => {
                      if (res.data.data.errno == 0) {
                          this.bankCards = res.data.data.data;
                      }
                  })

              },*/
            //获取用户所有的转账群组
            selectPayeeGroupByUid: function () {
                selectPayeeGroupByUid(this.user.userId).then(res => {
                    if (res.data.data.errono == 1) {
                        alert(res.data.data.errmsg);
                    } else {
                        this.payeeGroup = res.data.data.data;
                    }
                })
            },
            //弹窗切换
            changepop: function () {
                if (!this.showpop) {
                    if (this.payees.bankCard.bankCardId == "") {
                        return alert("请选择付款银行卡");
                    }
                    this.payees.payee.forEach(function (g) {
                        if (g.muchMoney == "" || g.muchMoney == null) {
                            return alert("请填写转账金额");
                        }
                    })
                    this.showpop = true;
                } else {
                    this.showpop = false;
                    this.payees.bankCard.bankCardPassword = "";
                }
            },

            //根据 收款群组id获取所有收款人
            selectPayeeById: function (id) {
                this.showChange = false;
                selectPayeeById(id).then(res => {
                    if (res.data.data.errono == 1) {
                        alert(res.data.data.errmsg);
                    } else {
                        this.payees.payee = res.data.data.data;
                    }

                })
            },
            //金额校验
            checkAmount: function (index) {
                var str = /^(([1-9]{1}\d{0,10})|([0]{1}))(\.(\d){1,2})?$/;
                if (!str.exec(this.payees.payee[index].muchMoney)) {
                    this.payees.payee[index].muchMoney = " ";
                    this.msgAmount = "请输入正确的转账金额 ，例如：100.11";
                } else {
                    this.msgAmount = "";
                }
            },
            submitTransferBulk: function () {
                if (this.payees.bankCard.bankCardPassword.length != 6) {
                    return alert("请输入六位数密码");
                }
                submitTransferBulk(this.payees).then(res => {
                    if (res.data.data.errno == 1) {
                        this.payees.bankCard.bankCardPassword = "";
                        return alert(res.data.data.errmsg);
                    } else if (res.data.data.errno == 0) {
                        alert(res.data.data.errmsg);
                        window.location.href = "home.html";
                    }
                })
            }

        },
        created() {
            //判断用户是否登录,没有登录则跳转到登录页面
            var token = localStorage.getItem("token");
            if (token == null) {
                location.href = "login.html";
            }
            this.user = JSON.parse(sessionStorage.getItem("user"));
            // 加载页面时从本地查询出所有所属银行
            this.subordinateBank = JSON.parse(sessionStorage.getItem("subordinateBank"));
            //根据用户查询他所拥有的银行卡
            // this.getBankCardByUser();
            this.bankCards = JSON.parse(sessionStorage.getItem("bankCards"));

            //获取用户所有的转账群组
            this.selectPayeeGroupByUid();
        }
    })
</script>
